<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # If the file exists anywhere in public_html, serve it immediately
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # Send everything else to Laravel
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>