* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: #000 0px 0px 10px;

}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.container {
    width: auto;
    display: flex;
    flex-direction: column;
}

.button {
    background-color: #22c55e;
    border: 3px solid #000;
    border-radius: 10px;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #a38916;
    transform: scale(1.05);
    color: white;
    border: #fff 3px solid;
    border-radius: 10px;
}

.button:active {
    transform: scale(0.98);
}